*{
    padding: 0;
    margin: 0;
}
.nav-bar{
    display: flex;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
}
.theme-light{
    background-color: white;
    color: #535353;
    transition: 350ms ease-in-out;
}
.theme-dark{
    color: #dbdee1;
    background-color: #313338;
    transition: 350ms ease-in-out;
}
.nav-title{
    list-style-type: none;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding-right: 40px;
    font-family: Arial;
}
.nav-bar ul{
    display: flex;
    list-style-type: none;
    margin-top: 3px;
}
.nav-link{
    color: #707070;
    text-decoration: none;
    padding-right: 30px;
    font-size: 20px;
    font-family: Arial;
}
.btn-nav{
    position: absolute;
    right: 20px;
    top:24px;
}
.active{
    color: white;

}
.container{
    padding: 30px;
    padding-top: 20px;
    position: fixed;
    width: 100%;
    height: 100%;
    font-size: 28px;
}